language: node_js
node_js:
  - "node"
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  local-dir: .vuepress/dist
  target-branch: gh-pages
  on:
branch: master
